html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

* {
    box-sizing: inherit;
}

.main-container {
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 1px 5px 20px 1px #95a5a6;
}

h1 {
    
}