html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.main-container {
    margin: ;
    width: ;
    height: ;
    background-color: ;
    border-radius: ;
    box-shadow: ;
}